* text=auto !eol
/BCMAKE.BAT -text
/BMBOOT.ASM -text
/BOOT_F1X.ASM -text
/CLEAN.BAT -text
/CMOS.CPP -text
/CMOS.H -text
/COMMON.CPP -text
/COMMON.H -text
/DISK_SIM.CFG -text
/DISK_SIM.H -text
/DISK_SIM.INC -text
/EXT32.ASM -text
/EXT32.H -text
/EXT32A20.INC -text
/EXT32CON.INC -text
/EXT32CPP.ASM -text
/EXT32DOS.INC -text
/EXT32DPM.INC -text
/EXT32DSK.INC -text
/EXT32LIB.ASM -text
/EXT32MEM.ASM -text
/EXT32MEM.CCC -text
/EXT32MSC.INC -text
/EXT32RAW.INC -text
/EXT32VID.INC -text
/EXT32VID.VES -text
/EXT32XMS.INC -text
/GUI.CPP -text
/GUI.H -text
/HELPER.C -text
/IPL.ASM -text
/KILL.ME -text
/MAKEFILE -text
/MBR.CPP -text
/MBR.H -text
/PART.CPP -text
/PART.H -text
/PART_AUX.CPP -text
/PART_BMG.CPP -text
/PART_CMD.CPP -text
/PART_DSK.CPP -text
/PART_FAT.CPP -text
/PART_GUI.CPP -text
/PART_MSG.MSG -text
/PART_TAB.CPP -text
/PART_VTC.CPP -text
/PART_VTC.H -text
/PART_WIZ.CPP -text
/PART_ZIP.CPP -text
/TOOLS.TXT -text
/TYPES.H -text
