*.[Aa][Ss][Xx]
*.[Bb][Aa][Kk]
*.[Bb][Ii][Nn]
*.[Ee][Xx][Ee]
*.[Ll][Ii][Bb]
*.[Ll][Oo][Gg]
*.[Ll][Ss][Tt]
*.[Mm][Aa][Pp]
*.[Oo][Bb][Jj]
*.[Oo][Rr][Gg]
*.[Zz][Ii][Pp]

[Pp][Aa][Rr][Tt]_[Mm][Ss][Gg].[CcHh]

/.vs/**
/.vscode/**
/.git/**
/build/**
!/build/.keep_empty_dir
!/build/build.ps1
!/build/clean.ps1
/tools/**
!/tools/bc5
!/tools/bc5/**
!/tools/build.bat
!/tools/clean.bat
!/tools/dosbox-x.conf
!/tools/tools.txt